.skills {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #f5f5f5;

}

.skills .skillsdiv {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    justify-content: center;
}

.skills .skillsdiv .skillbox {
    /* flex: 1 1 100px; */
    background: #f5f5f5;
    box-shadow: 10px 10px 20px 1px #d0d0d0, -10px -10px 20px #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    gap: 10px 0px;
    border-radius: 10px;
    cursor: pointer;

}

.skills .skillsdiv .skillbox img {
    height: 70%;
}

.skills .skillsdiv .skillbox span {
    font-size: 1.5rem;
    font-weight: 600;
}

.skills .skillsdiv .skillbox .size {
    transform: scaleX(0.7);
}

/* for box hover effect  */
.infolang {
    position: absolute;
    height: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
    overflow: hidden;
    transition: all 0.4s ease;
    bottom: 0;
    border-radius: 10px;
    z-index: 5;
}

.skills .skillsdiv .skillbox:hover .infolang {
    height: 100%;
}

/* for hover blur background effect */
.skills .skillsdiv .skillbox:hover::after {
    width: 100%;
}

.skills .skillsdiv .skillbox::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #d8d8d8b2;
    filter: blur(5px);
    transition: all 0.2s ease;
    right: 0px;
}

@media screen and (max-width:500px) {
    .skills .skillsdiv .skillbox {
        height: 150px;
        width: 150px;
    }
}