.footer{
    height: 10vh;
    width: 100%;
   background: rgb(53, 51, 61) ;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #f0f0f0;
}

@media screen and (max-width:550px){
    .footer{
        font-size: 0.7rem;
    }
}