:root{
    --textcolor : #ffffff;
    --theme-primary-bg-color:#023047;
    --theme-secondary-color:#fb8500;
}
.section{
    background-color: var(--theme-primary-bg-color);
    color: var(--textcolor);
}
.heading-text{
    color: var(--theme-secondary-color);
}